body {
  background-color: rgb(35, 35, 46);
  margin-bottom: 100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapperBooksResults {
  display: grid;
  grid-template-columns: 40vw 40vw;
  row-gap: 60px;
  margin-top: 70px;
  justify-content: center;
}

@media only screen and (max-width: 1790px) {
  #wrapperBooksResults {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
